<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
				<p>本站 CDN 由 
					<a href="https://portal.qiniu.com/signup?code=3lho3cp0rm5w2">
						<img src="https://dn-tuna.qbox.me/misc/qiniu-64x20.png" /> 
					</a> 开源扶持计划赞助支持</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://groups.google.com/forum/#!forum/tuna-general"><i class="fa fa-envelope"></i> Mailing List</a>
                  </li>
                  <li>
                  IRC: <a href="http://tuna.moe/irc/">#tuna at freenode</a>
                  </li>
                  <li>
                    <a href="https://github.com/tuna/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                  <li>
                    <a href="https://secure.flickr.com/groups/tuna/"><i class="fa fa-flickr"></i> Flickr</a>
                  </li>
                  <li>
                    <a href="http://weibo.com/u/5402274706"><i class="fa fa-weibo"></i> 新浪微博</a>
                  </li>
                  <li>
                    <a href="http://page.renren.com/601908241"><i class="fa fa-renren"></i> 人人公共主页</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive" src="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }}" />
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
