<script src="//cdn.bootcss.com/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script>
